@tailwind base;
@tailwind components;
@tailwind utilities;

.normal {
    background-color: rgb(180, 179, 178);
}

.fighting {
    background-color: rgb(177, 61, 56)
}

.flying {
    background-color: rgb(159, 188, 190)
}

.poison {
    background-color: rgb(160, 90, 158)
}

.ground {
    background-color: rgb(203, 188, 119);
}

.rock {
    background-color: rgb(183, 157, 100)
}

.bug {
    background-color: rgb(192, 207, 106)
}

.ghost {
    background-color: rgb(98, 113, 135)
}

.steel {
    background-color: rgb(176, 180, 187)
}

.fire {
    background-color: rgb(235, 129, 56)
}

.water {
    background-color: rgb(93, 174, 187)
}

.grass {
    background-color: rgb(139, 216, 106);
}

.electric {
    background-color: rgb(221, 198, 70)
}

.psychic {
    background-color: rgb(220, 115, 230)
}

.ice {
    background-color: rgb(169, 220, 216);
}

.dragon {
    background-color: rgb(123, 156, 204)
}

.dark {
    background-color: rgb(101, 101, 101)
}

.fairy {
    background-color: rgb(238, 174, 213)
}